# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# VSCode
.vscode/

# PyCharm
.idea/

# Hugging Face / Transformers cache
~/.cache/
.cache/
huggingface/

# Logs
*.log

# Temporary files
*.tmp
*.bak
*.swp
